[package]
name = "bip300301_enforcer"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[build-dependencies]
prost = "0.13.2"
prost-build = "0.13.3"
protox = "0.7.1"
tonic-build = "0.12.3"

[dependencies]
anyhow = "1.0.89"
async-broadcast = "0.7.1"
bdk = { version = "0.29.0", features = ["all-keys", "sqlite"] }
bincode = "1.3.3"
bitcoin = "0.32.3"
blake3 = "1.5.4"
byteorder = "1.5.0"
clap = { version = "4.5.18", features = ["derive"] }
cusf_sidechain_types = { git = "https://github.com/LayerTwo-Labs/cusf_sidechain_types" }
ed25519-dalek-bip32 = "0.3.0"
either = "1.13.0"
fallible-iterator = "0.3.0"
futures = "0.3.30"
hashlink = { version = "0.9.1", features = ["serde_impl"] }
heed = "0.20.5"
hex = "0.4.3"
miette = { version = "7.1.0", features = ["fancy"] }
num-traits = "0.2.19"
nom = "7.1.3"
parking_lot = { version = "0.12.3", features = ["send_guard"] }
prost = "0.13.2"
rusqlite = { version = "0.28.0", features = ["bundled"] }
rusqlite_migration = "1.0.2"
serde = { version = "1.0.197", features = ["derive"] }
sha2 = "0.10.8"
thiserror = "1.0.64"
tokio = { version = "1.36.0", features = ["rt-multi-thread", "macros"] }
tokio-stream = "0.1.15"
tonic = "0.12.3"
tonic-reflection = "0.12.3"
tower = "0.5.1"
tower-http = { version = "0.6.1", features = ["trace"] }
tracing = "0.1.40"
tracing-subscriber = { version = "0.3.18", features = ["env-filter"] }
zeromq = "0.4.0"

[dependencies.bip300301]
git = "https://github.com/Ash-L2L/bip300301.git"
rev = "7406a92dd58c2b15c97d2bb4b1793946baf3bc2c"

[dependencies.educe]
version = "0.6.0"
default-features = false
features = ["Clone", "Debug"]

[lints.clippy]
all = { level = "deny", priority = -1 }
assertions_on_result_states = "allow"
let_unit_value = "allow"
print_stderr = "deny"
print_stdout = "deny"
significant_drop_in_scrutinee = "deny"
significant_drop_tightening = "deny"
wildcard_imports = "deny"

[lints.rust]
let_underscore_drop = "deny"

# Remove once the issue is resolved: 
# https://github.com/zeromq/zmq.rs/issues/199,
# https://github.com/zeromq/zmq.rs/pull/198
[patch.crates-io.zeromq]
git = "https://github.com/PaoloPana/zmq.rs.git"
rev = "cf71ae341e67bccc6b45ac634a45718ea0a1adb4"
