[package]
name = "bip300301_enforcer"
version = "0.1.3"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[build-dependencies]
prost = "0.13.2"
prost-build = "0.13.3"
protox = "0.7.1"
tonic-build = "0.12.3"

[dependencies]
aes-gcm = "0.10.3"
anyhow = "1.0.89"
argon2 = "0.5.3"
async-broadcast = "0.7.1"
bdk_electrum = "0.20.1"
bdk_wallet = { version = "1.0.0", features = ["file_store", "keys-bip39"] }
bincode = "1.3.3"
bitcoin = "0.32.3"
blake3 = "1.5.4"
byteorder = "1.5.0"
clap = { version = "4.5.18", features = ["derive"] }
cusf_sidechain_types = { git = "https://github.com/LayerTwo-Labs/cusf_sidechain_types" }
derive_more = { version = "1.0.0", features = ["debug", "display"] }
ed25519-dalek-bip32 = "0.3.0"
either = "1.13.0"
fallible-iterator = "0.3.0"
fatality = "0.1.1"
futures = "0.3.30"
hashlink = { version = "0.10.0", features = ["serde_impl"] }
heed = "0.21.0"
hex = "0.4.3"
jsonrpsee = { version = "0.24.7", features = ["server"] }
miette = { version = "7.1.0", features = ["fancy"] }
nom = "7.1.3"
nonempty = "0.11.0"
ordermap = { version = "0.5.3", features = ["serde"] }
parking_lot = { version = "0.12.3", features = ["send_guard"] }
prost = "0.13.2"
prost-types = "0.13.3"
rand = "0.8.5"
regex = "1.11.0"
rusqlite = { version = "0.32.1", features = ["bundled"] }
rusqlite_migration = "1.3.1"
serde = { version = "1.0.197", features = ["derive"] }
serde_json = "1.0.128"
serde_path_to_error = "0.1.16"
thiserror = "1.0.64"
tokio = { version = "1.36.0", features = ["rt-multi-thread", "macros"] }
tokio-stream = "0.1.15"
tonic = "0.12.3"
tonic-reflection = "0.12.3"
tower = "0.5.1"
tower-http = { version = "0.6.1", features = ["trace"] }
tracing = "0.1.40"
tracing-subscriber = { version = "0.3.18", features = ["env-filter"] }
zeromq = "0.4.1"

[dependencies.bip300301]
git = "https://github.com/Ash-L2L/bip300301.git"
rev = "d2c92e06d9640c793288d2995bdc8d81fee4221f"

[dependencies.cusf-enforcer-mempool]
git = "https://github.com/LayerTwo-Labs/cusf-enforcer-mempool.git"
rev = "fde6735d2edbd4be409e1acecc347a7b739b197a"

[dependencies.educe]
version = "0.6.0"
default-features = false
features = ["Clone", "Debug"]

[dependencies.ouroboros]
git = "https://github.com/erikjohnston/ouroboros.git"
rev = "ea82b33947f60c511dac6eb3815b6af3f6c3f555"

[dev-dependencies]
cfg-if = "1.0.0"
indicatif = { version = "0.17.9", features = ["futures"] }
libtest-mimic = "0.8.1"
miniscript = "12.3.0"
reserve-port = "2.0.1"
strum = { version = "0.26.3", features = ["derive"] }
temp-dir = "0.2.0"
tracing-indicatif = "0.3.8"

# temp-dir does not leak correctly after clone
# https://gitlab.com/leonhard-llc/ops/-/issues/17
[patch.crates-io.temp-dir]
git = "https://gitlab.com/A-Manning/leonhard-llc-ops.git"
branch = "temp-dir-leak"

[lints.clippy]
all = { level = "deny", priority = -1 }
assertions_on_result_states = "allow"
let_unit_value = "allow"
print_stderr = "deny"
print_stdout = "deny"
significant_drop_in_scrutinee = "deny"
significant_drop_tightening = "deny"
wildcard_imports = "deny"

[lints.rust]
let_underscore_drop = "deny"

[[bin]]
name = "bip300301_enforcer"
path = "src/main.rs"

[lib]
name = "bip300301_enforcer_lib"
path = "src/lib.rs"

[[example]]
name = "integration_tests"
path = "integration_tests/main.rs"
harness = false
test = false
crate-type = ["bin"]
