# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[workspace]
resolver = "2"
members = [
    "app",
    "lib",
    "integration_tests",
]

[workspace.package]
authors = [
    "Ash Manning <ash@layertwolabs.com>",
    "Nikita Chashchinskii <nikita.chashchinskii@gmail.com>",
    "Torkel Rogstad <torkel@rogstad.io>",
]
edition = "2021"
publish = false
version = "0.3.1"

[workspace.dependencies]
bdk_wallet = { version = "1.0.0" }
bitcoin = "0.32.3"
clap = { version = "4.5.18", default-features = false }
either = "1.13.0"
futures = "0.3.30"
hex = "0.4.3"
jsonrpsee = { version = "0.24.7" }
miette = { version = "7.1.0", default-features = false }
thiserror = "2.0.11"
tokio = { version = "1.36.0", default-features = false }
tokio-stream = "0.1.15"
tonic = "0.12.3"
tracing = "0.1.40"
tracing-subscriber = "0.3.18"

[workspace.dependencies.bip300301]
git = "https://github.com/Ash-L2L/bip300301.git"
rev = "45f74e37b8295207d29ddbbce10d563ec9f67151"

[workspace.dependencies.cusf-enforcer-mempool]
git = "https://github.com/LayerTwo-Labs/cusf-enforcer-mempool.git"
rev = "cf467500d9cd68d6736b98d6fb3653bcebbf54bc"

[workspace.dependencies.ouroboros]
git = "https://github.com/erikjohnston/ouroboros.git"
rev = "ea82b33947f60c511dac6eb3815b6af3f6c3f555"

[workspace.lints.clippy]
all = { level = "deny", priority = -1 }
assertions_on_result_states = "allow"
let_unit_value = "allow"
print_stderr = "deny"
print_stdout = "deny"
significant_drop_in_scrutinee = "deny"
significant_drop_tightening = "deny"
wildcard_imports = "deny"

[workspace.lints.rust]
let_underscore_drop = "deny"

# temp-dir does not leak correctly after clone
# https://gitlab.com/leonhard-llc/ops/-/issues/17
[patch.crates-io.temp-dir]
git = "https://gitlab.com/A-Manning/leonhard-llc-ops.git"
branch = "temp-dir-leak"
