BIP300301_ENFORCER='target/debug/bip300301_enforcer'
BITCOIND='../bitcoin-patched/build/src/bitcoind'
# Whether BITCOIND is a drivechain-patched build. Stock builds ('0') are
# spawned with -acceptnonstdtxn; patched builds ('1', the default) run
# with real standardness policy so OP_DRIVECHAIN policy bugs surface.
BITCOIND_HAS_DRIVECHAIN='1'
BITCOIND_UNPATCHED='../bitcoin/build/src/bitcoind'
BITCOIN_CLI='../bitcoin/build/src/bitcoin-cli'
BITCOIN_UTIL='../bitcoin/build/src/bitcoin-util'
ELECTRS='../electrs/target/release/electrs'
SIGNET_MINER='../bitcoin/contrib/signet/miner'